### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# HOMEWORK INSTRUCTIONS and SETUP In [1]
# Dependencies and Setup
# import pandas as pd

# File to Load (Remember to Change These)
# school_data_to_load = "Resources/schools_complete.csv"
# student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
# school_data = pd.read_csv(school_data_to_load)
# student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
# school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Dependencies and Setup
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
# Store the files - load the files
schools_data = "Resources/schools_complete.csv"
students_data = "Resources/students_complete.csv"

In [4]:
# Read the data file with the pandas library, Source File to Read
# Not every CSV requires an encoding, but be aware this can come up
#schools_data_df=pd.read_csv('resources/schools_complete.csv')
schools_data_df=pd.read_csv(schools_data, encoding="ISO-8859-1")

In [5]:
# display the header
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# display the contents of the data frame : Schools_data.csv
schools_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [7]:
# Read the data file with the pandas library, Source File to Read
students_data_df=pd.read_csv(students_data, encoding='iso-8859-1')

In [8]:
# display the header
students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
# display the contents of the data frame : Students_data.csv
students_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [10]:
# Combine the data into a single dataset.  
# school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
pycityschools_df=pd.merge(schools_data_df,students_data_df,how='left', on=['school_name','school_name'])

In [11]:
# display the contents of the data frame 
pycityschools_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [12]:
#Save remade data frame to a new csv file, pycityschools_df to /output/pycityschools_combined.csv
pycityschools_df.to_csv('Output/pycityschools_combined.csv', encoding="utf-8", index="true",header="true")

In [13]:
# Display a statistical overview of the data frame
pycityschools_df.describe()

,School ID,size,budget,Student ID,reading_score,math_score
count,39170.000000,39170.000000,3.917000e+04,39170.000000,39170.00000,39170.000000
mean,6.978172,3332.957110,2.117241e+06,19584.500000,81.87784,78.985371
std,4.444329,1323.914069,8.749987e+05,11307.549359,10.23958,12.309968
min,0.000000,427.000000,2.480870e+05,0.000000,63.00000,55.000000
25%,3.000000,1858.000000,1.081356e+06,9792.250000,73.00000,69.000000
50%,7.000000,2949.000000,1.910635e+06,19584.500000,82.00000,79.000000
75%,11.000000,4635.000000,3.022020e+06,29376.750000,91.00000,89.000000
max,14.000000,4976.000000,3.124928e+06,39169.000000,99.00000,99.000000

In [14]:
# Collecting a list of all columns within the DataFrame
pycityschools_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [15]:
# Finding how many students each school has
# school_count = len(pycityschools_df["school_name"].unique())
pycityschools_df['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [16]:
# verify counts - clean the data
pycityschools_df.count()

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [17]:
# Calculate the number of unique students in the DataFrame
# student_count = len(pycityschools_df["student_name"].unique())
student_counts = pycityschools_df["student_name"].value_counts()
student_counts

Michael Smith       26
David Johnson       16
Michael Williams    16
David Smith         15
Daniel Johnson      14
                    ..
Andrew Nelson        1
Carol Sanchez        1
Jennifer Choi        1
Dana Cortez          1
Judith Sandoval      1
Name: student_name, Length: 32715, dtype: int64

In [33]:
# The value_counts method counts unique values in a column
#count = data_file_df["Gender"].value_counts()
#count
# Calculate the number of unique schools in the DataFrame
school_total = len(pycityschools_df["school_name"].unique())
school_total
#
# Correct

15

In [30]:
# Calculate the number of unique students in the DataFrame
student_total = pycityschools_df["student_name"].count()
student_total
#
# Correct

39170

In [37]:
# Calculate the total budget in the DataFrame
# budget_sum = len(pycityschools_df["budget"].unique())
budget_total = pycityschools_df["budget"].sum()
budget_total
#
#
# incorrect ......

82932329558

In [21]:
# Calculate the average math score in the DataFrame
average_math_score=round(pycityschools_df["math_score"].mean(), 6)
average_math_score
#
# Correct

78.985371

In [22]:
# Calculate the average reading score in the DataFrame
average_reading_score=round(pycityschools_df["reading_score"].mean(), 5)
average_reading_score
#
# Correct

81.87784

In [23]:
# Calculate the percentage math passing in the DataFrame
percentage_passing_math=pycityschools_df["math_score"].sum()
percentage_passing_math
#
#
# fix it .......

3093857

In [24]:
# Calculate the percentage reading passing in the DataFrame
percentage_passing_reading=pycityschools_df["reading_score"].sum()
percentage_passing_reading
#
#
# fix it ........

3207155

In [25]:
# Calculate the total budget in the DataFrame
# Create data frames for math and reading, then merge the two to determine % passing overall
# Groupby students passing - get total students for each group and add total...
#percentage_passing_overall=["percentage_passing_math"+"Percentage_passing_reading"].sum()

In [35]:
# Creating a summary DataFrame using above values
district_summary_df=pd.DataFrame({"Total Schools": [school_total],
                                  "Total Students": [student_total],
                                  "Total Budget": budget_total,
                                  "Average Math Score": average_math_score,
                                  "Average Reading Score": average_reading_score})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,15,39170,82932329558,78.985371,81.87784

In [ ]:
#"% Passing Math":[percentage_passing_math],
#"% Passing Reading":[percentage_passing_reading],
#"% Overall Passing":[percentage_passing_overall]

In [ ]:
# Calculate the number of unique authors in the DataFrame
# district_summary_df=pycityschools_df({"Schools Count": [school_count],"Student Count": student_count})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type